WebApp.DAL/Service References/EmailWebService/ASPEmailWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/ASPEmailNet/ASPEmailWS" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/ASPEmailNet/ASPEmailWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/ASPEmailNet/ASPEmailWS">
      <s:element name="eMailSendOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BccAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailServer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eMailSendOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eMailSendOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eMailSendOutWithAttachment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FromAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ToAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CCAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BccAddr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MailServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FileAttach" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="FileExtension" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PreferredFilename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eMailSendOutWithAttachmentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="eMailSendOutWithAttachmentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="eMailSendOutSoapIn">
    <wsdl:part name="parameters" element="tns:eMailSendOut" />
  </wsdl:message>
  <wsdl:message name="eMailSendOutSoapOut">
    <wsdl:part name="parameters" element="tns:eMailSendOutResponse" />
  </wsdl:message>
  <wsdl:message name="eMailSendOutWithAttachmentSoapIn">
    <wsdl:part name="parameters" element="tns:eMailSendOutWithAttachment" />
  </wsdl:message>
  <wsdl:message name="eMailSendOutWithAttachmentSoapOut">
    <wsdl:part name="parameters" element="tns:eMailSendOutWithAttachmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ASPEmailWSSoap">
    <wsdl:operation name="eMailSendOut">
      <wsdl:input message="tns:eMailSendOutSoapIn" />
      <wsdl:output message="tns:eMailSendOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eMailSendOutWithAttachment">
      <wsdl:input message="tns:eMailSendOutWithAttachmentSoapIn" />
      <wsdl:output message="tns:eMailSendOutWithAttachmentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ASPEmailWSSoap" type="tns:ASPEmailWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="eMailSendOut">
      <soap:operation soapAction="http://tempuri.org/ASPEmailNet/ASPEmailWS/eMailSendOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eMailSendOutWithAttachment">
      <soap:operation soapAction="http://tempuri.org/ASPEmailNet/ASPEmailWS/eMailSendOutWithAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ASPEmailWSSoap12" type="tns:ASPEmailWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="eMailSendOut">
      <soap12:operation soapAction="http://tempuri.org/ASPEmailNet/ASPEmailWS/eMailSendOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eMailSendOutWithAttachment">
      <soap12:operation soapAction="http://tempuri.org/ASPEmailNet/ASPEmailWS/eMailSendOutWithAttachment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ASPEmailWS">
    <wsdl:port name="ASPEmailWSSoap" binding="tns:ASPEmailWSSoap">
      <soap:address location="https://services.q-ion.com/ASPEmailNet4/ASPEmailWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ASPEmailWSSoap12" binding="tns:ASPEmailWSSoap12">
      <soap12:address location="https://services.q-ion.com/ASPEmailNet4/ASPEmailWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>